
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<body>
    <!-- banner -->
    <section class="banner" style="background-color:#fff;">
        <div class="container">
            <div class="row banner-grids">
                <div class="col-lg-6 banner-info">
                    <h3 class="mb-3">Uniinfo</h3>
                    <p class="mb-4">
                        Bem vindo Administrador. <br/>
                        Vamos começar!
                    </p>
                </div>
                <div class="col-lg-6 col-md-9 banner-image">
                    <img src="~/Content/images/pcroxo.jpg" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <!-- //banner -->
    <!-- banner2 -->
    <section class="banner" style="background-color:#f5f5f5;">
        <div class="container">
            <div class="row banner-grids">
                <div class="col-lg-6 banner-info">
                    <h3 class="mb-3" style="color:#0042fe;">Atenção</h3>
                    <p class="mb-4">
                        Esteja atento ao editar qualquer informação.<br/> 
                        informações erradas podem prejudicar <br/>
                        o funcionamento de todo sistema 
                    </p>
                </div>
                <div class="col-lg-6 col-md-9 banner-image">
                    <img src="~/Content/images/café.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <!-- //banner2 -->
</body>