
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body style="margin-left:-10px;">
    <!-- banner -->
    <section class="banner" style="background-color:#fff;">
        <div class="container">
            <div class="row banner-grids">
                <div class="col-lg-6 banner-info">
                    <h3 class="mb-3">Help-Desk</h3>
                    <p class="mb-4">
                        O unninfo é um sistema help-desk onde são cadastrados chamados de problemas, esses problemas são mais facilmente administrados a partir desse sistema.
                    </p>
                </div>
                <div class="col-lg-6 col-md-9 banner-image">
                    <div style="margin-top:150px;"></div>
                    <p class="mb-4">
                        Estamos melhorando dia após dia, esse projeto foi inicado em 2018 e continua em desenvolvimento.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner -->
    <!--Contate-nos-->
    <section class="security bg-light py-5">
        <div class="container py-md-3">
            <div class="security-bottom text-center">
                <h3 class="my-4" style="color:#0042fe;">Tem um Login?</h3>
                <p class="">Caso não tenha, entre em contato com o setor de TI ou um dos meios de comunicação abaixo.</p>
                <p class="my-4">
                    Administrador@gmail.com<br>
                    (015) 3593-0456
                </p>
            </div>
        </div>
    </section>
    <!--Contate-nos-->
    <!-- banner -->
    <section class="banner" style="background-color:#fff;">
        <div class="container">
            <div class="row banner-grids">
                <div class="col-lg-6 banner-info">
                    <p class="mb-4" style="margin-top:-60px;">
                        Estamos aqui pra te auxiliar diante de diversos tipos de problema.<br><br>
                        Buscamos melhorar nosso projeto a cada atualizãção, sua opinião é importante para nós.<br><br>
                        Caso hajam mais dúvidas sobre nosso software contate-nos para obter mais informações.
                    </p>
                </div>
                <div class="col-lg-6 col-md-9 banner-image">
                    <img src="~/Content/images/imguniinfo2.jpg" alt="" class="img-fluid"/>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner -->

</body>
