
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

@Html.ViewBag
<div style="margin-top:-20px;">
    <!-- banner -->
    <section class="banner" style="background-color:#fff;">
        <div class="container">
            <div class="row banner-grids">
                <div class="col-lg-6 banner-info">
                    <h3 class="mb-3">Problemas?</h3>
                    <p class="mb-4">
                        Caso não tenha sido atendido ainda<br>
                        contate-nos e entraremos em contato.
                    </p>
                </div>
                <div class="col-lg-6 col-md-9 banner-image">
                    <img src="~/Content/images/webpc.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <!-- //banner -->
    
    <!--Contate-nos-->
    <section class="security bg-light py-5">
        <div class="container py-md-3">
            <div class="security-bottom text-center">
                <h3 class="my-4" style="color:#0042fe;">Entre em contato!</h3>
                <p class="">Você pode nos contatar através do nosso email ou pelo telefone da empresa</p>
                <p class="my-4">
                    Administrador@gmail.com<br>
                    (015) 3593-0456
                </p>
            </div>
        </div>
    </section>
    <!--Contate-nos-->
</div>
