@{
    ViewBag.Title = "Inicio";
}


<body>
    <!-- banner -->
    <section class="banner" style="background-color:#fff;">
        <div class="container">
            <div class="row banner-grids">
                <div class="col-lg-6 banner-info">
                    <h3 class="mb-3">Uniinfo</h3>
                    <p class="mb-4">
                        Bem Vindo ao Uniinfo-HelpDesk, é um prazer te-lo conosco!.
                    </p>
                    <a href="about.html">Sobre nós</a>
                </div>      
                <div class="col-lg-6 col-md-9 banner-image">
                    <img src="~/Content/images/banner.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <!-- //banner -->

    <section class="about-us bg-light py-5">
        <div class="container py-md-3">
            <div class="row bottom-grids">
                <div class="col-lg-4 col-md-5 col-6 px-lg-5">
                    <img src="~/Content/images/webpc.png" alt="" class="img-fluid" />
                </div>
                <div class="col-lg-6 offset-lg-2 col-md-7 text-right px-lg-5 mt-md-0 mt-4">
                    <h3 class="my-3">Torne seu problema nosso problema.</h3>
                    <p class="mb-4">
                        O Uniinfo é uma ferramenta prática e ágil que visa fornecer soluções de problemas, 
                        tornando os conhecidos pelo setor responsável.
                    </p>
                    @Html.ActionLink("Login", "Login", "Account")
                </div>
            </div>
        </div>
    </section>
</body>
