@model UniinfoAsp.Models.Problema

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Deletar</h2>

<h3>Deseja Realmente apgar isso?</h3>
<div>
    <h4>Problema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoProblema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoProblema)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
