
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

<body>
    <!-- banner -->
    <section class="banner" style="background-color:#fff;">
        <div class="container">
            <div class="row banner-grids">
                <div class="col-lg-6 banner-info">
                    <h3 class="mb-3">Uniinfo</h3>
                    <p class="mb-4">
                        Bem vindo! <br />
                        Cadastre seu problema em nosso sistema
                    </p>
                </div>
                <div class="col-lg-6 col-md-9 banner-image">
                    <div style="height:50px;"></div>
                    <img src="~/Content/images/helpdesk_logo_nbg_default_menor.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <!-- //banner -->
    <!-- banner2 -->
    <section class="banner" style="background-color:#f5f5f5;">
        <div class="container">
            <div class="row banner-grids">
                <div class="col-lg-6 banner-info" style="margin-top:-50px;">
                    <h3 class="mb-3" style="color:#0042fe;">Atenção</h3>
                    <p class="mb-4">
                        Esteja atento ao cadastrar qualquer informação.<br />
                        informações erradas podem prejudicar <br />
                        o atendimento do seu problema.
                    </p>
                </div>
                <div class="col-lg-6 col-md-9 banner-image">
                    <div style="height:30px;"></div>
                    <img src="~/Content/images/helpdesk_logo_bg_blue_m2.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <!-- //banner2 -->
</body>